/*------------- GLOBAL -------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 22px;
	line-height: 1.5em;
	font-family: 'Rubik', sans-serif;	
}

img{
	width: 100%;
	display: block;	
}

h1{
	font-weight: 700;
	font-size: 5em;
	text-transform: uppercase;
	line-height: 1em;	
}

h2{
	font-size: 3.25em;	
	line-height: .85em;
	font-weight: 700;
}

h3{
	font-size: 2em;
	color: #e18c36;	
	text-transform: uppercase;
	margin-bottom: 20px;
}

button{
	font-size: 1em;	
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer{
	background-color: #3c3c3c;
}

hr{
	display: none;
}

/*------------- NAVIGATION -------------*/

#menu{
	margin: 0px auto;
	width: 100%;
	max-width: 1440px;
	/*width: 85%;*/
}

#menu-logo{
	float: left;
	padding: 20px;
	width: 15%;
}

#nav-full{
	float: right;

}

#nav-full a{
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	color: #00748b;
	font-size: .8em;
	padding: 40px 0px;

}

#nav-primary{
	float: left;
	margin-right: 10px;
}

/*#nav-primary a{
	font-size: .8em;
}*/

.main{
	margin: 0px 10px;
}

.main:hover{
	font-weight: 700;
	border-bottom: 4px #00748b solid; 	
}

.main:active{
	font-weight: 700;
	border-bottom: 4px #00748b solid; 	
}

#nav-action{
	float: right;
}


#nav-action a{
	color: #ffffff;	
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1em;
}

.nav-button{
	text-align: center;
	width: 140px;
}

#search-button{
	background-color: #e18c36; 
	width: 60px;
	border-bottom: 4px solid #e18c36;
}

#search-button:hover{
	background-color: #c97c36;
	border-bottom: 4px solid #c97c36;
}

#donate-button{
	background-color: #718b2c;
	border-bottom: 4px solid #718b2c;
}

#donate-button:hover{
	background-color: #576823;
	border-bottom: 4px solid #576823;
}

#apply-button{ 

	background-color: #00748b;
	border-bottom: 4px solid #00748b; 
}

#apply-button:hover{
	background-color: #005c68;
	border-bottom: 4px solid #005c68;
}

/*------------- HERO IMAGE -------------*/

#hero{
	clear: both;
}

#hero-image{
    background-image: url("../images/mural.jpg");
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-text{
	text-align: center;
	position: absolute;
	color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 70%;
}

#hero-image:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

#hero-text p{
	margin-bottom: 20px;
	font-size: 1.5em;
}

#hero-button-left{
	background-color: #e18c36; 
}

#hero-button-right{
	background-color: #00748b; 
}

.hero-button a{
	text-decoration: none;
	color: #ffffff;
}

.hero-button{
	width: 250px;
	transition: all 0.5s;
  	cursor: pointer;
  	border: none;
  	text-align: center; 
  	padding: 15px; 	
	border-radius: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin: 5px;
	text-transform: uppercase;
	font-weight: 700;
}

.hero-button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ffffff;
}

.hero-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hero-button:hover span {
	padding-right: 25px;
}

.hero-button:hover span:after {
  opacity: 1;
  right: 0;
}
/*
*/

/*------------- BODY-CONTENT -------------*/

#body-content{
/*	width: 85%;*/
	margin: 0 auto;
	width: 90%;
	max-width: 1440px;
	padding: 60px 0px;
}

/*------------- QUICK NAV -------------*/

#quick-nav{
	text-align: right;
/*	width: 100%;
	max-width: 1280px;*/
	margin: 0 auto;
/*	padding: 0px 20px;*/
}

#square-apply{
	background-image: url("../images/apply1.jpg");
	margin-right: 2%;
} 

#square-donate{
	background-image: url("../images/donate2.jpg");	
	margin-right: 2%;
} 

#square-teach{
	background-image: url("../images/teach3.jpg");
}

.square{
	width: 32%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	float: left;
	padding: 20px 20px 90px 20px;
	text-decoration: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*------------- INTRODUCTION -------------*/

.intro{
	margin: 0 auto;
	padding: 60px 40px;
	text-align: center;
}

.flat{
	background-color: #f5dc4e;
	color: #ffffff;
	box-shadow: none;
	margin-top: 20px;
}

/*------------- QUOTE UNIVERSAL -------------*/

/*.quote-top a{

}*/

.quote{
	font-size: 1.70em;
	line-height: 1.25em;
	font-weight: 700;
	text-transform: uppercase;	
}

.byline{
	font-style: italic;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.75em;
	text-align: right;
}

.quote-button{
	text-align: center;
	margin-top: 15px;
}

.image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 0px;
	width: 50%;
	height: 450px;
	margin-top: 25px;
}

.quote-full{
/*    width: 95%;*/
    padding: 10px 0px;
/*    margin: 0 auto;*/
}

/*------------- QUOTE ONE -------------*/

#two-column-top{
/*	padding: 0px;*/
/*	margin: 0 auto;*/
	border: 2px orange solid;
}

.quote-top{
	background-color: #e18c36;
	float: left;
	width: 50%;
	color: #ffffff;
/*	margin: 0 auto;*/
	padding: 2em;
	height: 500px; /*Ask if this correct vs a vheight*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: 2px red solid;
}

#flat-quote-top{
	background-color: #af6b2e;
	box-shadow: none;
	width: 65%;
}

#right-image{
	background-image: url("../images/kaitlen.jpg");
	float: right; 
}

#two-column-bottom{
	padding-top: 60px;
}

.quote-bottom{
	background-color: #00748b;
	float: right;
	width: 50%;
	color: #ffffff;
/*	margin: 0 auto;*/
	padding: 40px;
	height: 500px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#flat-quote-bottom{
	background-color: #013f47;
	box-shadow: none;
	width: 65%;
}

#left-image{
	background-image: url("../images/jose.jpg");
	float: left;
}

/*------------- DIPLOMA DIFFERENCE -------------*/

#two-column-mid{
	text-align: center;
	border: 2px cyan solid;
}

/*#difference{
	margin: 0 auto;
	padding-top: 40px;
}
*/

.icons{
	width: 50%;
/*	  display: block;*/
    margin: auto;
}

.stat{
	padding: 0px 40px;
	float: left;
	width: 50%;
	border: 2px blue solid;
/*	text-align: center;*/
}

.stat-number{
	font-size: 5.5em;
	line-height: 1em;
	color: #00748b;
	font-weight: 900;
/*	text-align: center;*/
}

.stat-par{
	padding-top: 10px;
	color: #00748b;
}

.asterik{
	text-align: right;
	font-weight: 300;
	font-style: italic;
	font-size: .75em;
	line-height: 3em;
	color: #7e858b;
}


/*------------- FOOTER -------------*/

#footer-top{
	margin: 0px auto;
	width: 90%;
	max-width: 1440px;
/*	width: 85%;*/
	padding-bottom: 60px;
	color: #ffffff;
/*	margin: 0 auto;*/
	text-align: center;
}


#footer-contact{
	text-transform: uppercase;
	font-size: .75em;
}


.contact{
	width: 32%;
	float: left;
}

#footer-cta{
/*	padding: 0px 0px 40px 0px;*/
	border-bottom: 1px #ffffff solid;
	margin-bottom: 60px;
}

#contact-left{
	float: left;
	margin-right: 2%;

}

#contact-left a{
	display: block;
	color: #ffffff;
	text-decoration: none;
}

#contact-middle{
	float: left;
	margin-right: 2%;
	padding: 0px 40px;
	border-left: 1px #ffffff solid;
	border-right: 1px #ffffff solid;
}

#contact-left a:hover{
	font-weight: 700;
}

.bold{
	font-weight: 700;
}

/*------------- FOOTER BOTTOM -------------*/

#footer-wrapper{
	margin: 0px auto;
	width: 90%;
	max-width: 1440px;
/*	width: 85%;*/
	color: #ffffff;
/*	margin: 0 auto;*/
}

#footer-bottom{
	font-size: .65em;
	background-color: #e18c36; 
	color: #ffffff;
}

#footer-bottom a{
	text-decoration: none;
	color: #ffffff;
	padding: 20px 10px;
	display: inline-block;
}

#footer-bottom a:hover{
	opacity: .4;
}

#copyright{
	float: left;
}

#social{
	float: right;
}


/*------------- RESPONSIVE -------------*/

#mobile-menu{
	display: none;
}

#two-column-top-1024{
	display: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 100%;
	float: none;
	}

#two-column-bottom-1024{
	display: none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 100%;
	float: none;
	}

#mobile-nav{
	display: none;
}

@media screen and (max-width: 1440px) {

	#nav-full{
/*		display: none;*/
		border: 2px orange solid;
	}

	.quote{
		font-size: 1.5em;	
	}

	.byline{
		font-size: 1.6em;
	}

	.quote-full{
		padding: 20px 0px;
	}	
}

@media screen and (max-width: 1280px) {

	#nav-full{
/*		display: none;*/
		border: 2px blue solid;
	}

	#contact-middle{
		padding: 20px 40px;
	}

	#footer-cta{
		width: 95%;
		border-bottom: none;
		margin-bottom: 0px;
	}

	#footer-contact{
		border-top: 1px #ffffff solid;
		padding-top: 60px;
	}

	#hero-text p{
		font-size: 1.4em;
	}

	.square{
		padding: 20px 20px 70px 20px;
	}

	h2{
		font-size: 3em;	
	}

	.quote-button{
		margin-top: 0px;
	}

	.quote-full{
		padding: 5px 0px;
	}
}	

@media screen and (max-width: 1100px) {

	#mobile-menu{
		display: block;
		border: 2px brown solid;
		text-align: right;
		width: 90%;
		margin: 0 auto;
		padding: 20px 0px;
	}

	#mobile-nav{
		display: block;
	}

	#nav-full{
		display: none;
		border: 2px purple solid;
	}

	.square{
		padding: 20px 20px 70px 20px;
	}

	h1{
		font-size: 4em;
	}

	h2{
		font-size: 3em;	
	}

	#quick-nav a{
		font-size: .80em;
		line-height: 1em;
	}

	#two-column-top{
		display: none;
	}

	#two-column-top-1024{
		width: 100%;
		display: block;
	}

	#right-image{
		background-image: url("../images/kaitlen.jpg");
		float: none; 
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		width: 100%;
		display: block;
	}

/*	.quote-full{
		padding: 3em;
	}*/

	#right-image:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(225, 140, 54, 0.8);
		z-index: 1;
	}

	.quote-full{
		text-align: left;
		position: absolute;
		color: #ffffff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 80%;
	}

	#two-column-bottom{
		display: none;
	}

	#two-column-bottom-1024{
		width: 100%;
		display: block;
	}

	#left-image{
		background-image: url("../images/jose.jpg");
		float: none; 
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		width: 100%;
		display: block;
	}

/*	.quote-full{
		padding: 3em;
	}*/

	#left-image:after{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 116, 139, 0.8);
		z-index: 1;
	}

	.stat{
		padding: 0px 0px;
	}

	.stat-par{
		padding: 0px 40px;
	}

	#contact-middle{
		padding: 40px 40px;
	}

	#footer-bottom a{
		padding: 10px 10px;
	}

	#copyright{
		float: none;
	}

	#social{
		float: none;
		text-align: center;
	}

	.intro{
		padding: 60px 40px 40px 40px;

	}

}
/*	.quote-top{
		float: left;
		width: 100%;
	}*/

/*	#right-image{
	background-image: url("../images/kaitlen.jpg");
	float: none; 
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 100%;
	}*/
/*
#flat-quote-top{
	background-color: #af6b2e;
	box-shadow: none;
	width: 65%;
}



#two-column-bottom{
	padding-top: 60px;
}

.quote-bottom{
	background-color: #00748b;
	float: right;
	width: 50%;
	color: #ffffff;
	padding: 40px;
	height: 500px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#flat-quote-bottom{
	background-color: #013f47;
	box-shadow: none;
	width: 65%;
}

#left-image{
	background-image: url("../images/jose.jpg");
	float: left;
}*/
@media screen and (max-width: 909px) {

	#body-content{
		border: 2px green solid;
		width: 100%;
		padding: 0px 0px 60px;
	}

	.column{
		width: 100%;
	}

	#quick-nav{
		width: 100%;
		margin: 0 auto;
		padding: 0px 0px 40px 0px;
	}

	.square{
		display: block;
		padding: 20px 20px 40px 20px;
		box-shadow: none;
	}

}	

@media screen and (max-width: 768px) {

	#nav-full{
		border: 2px green solid;
	}



	h3{
		font-size: 2.5em;
		line-height: 1em;
	}

	.icons{
		width: 35%;
    	margin: auto;
    	float: left;
    	padding-right: 20px;
	}

	.stat{
		float: none;
		width: 100%;
		padding: 0px 40px;
		text-align: left;
	}

	.stat-number{
		font-size: 3.5em;
		line-height: 1em;
	}

	hr{
		display: block;
		margin: 40px 0px;
	}

	.contact{
		float: none;
		width: 100%;
	}

	.contact a{
		display: inline-block;
	}

	#contact-left a{
		display: inline-block;
		padding: 0px 20px;
	}

	#contact-middle{
		border: none;
	}

	#footer-bottom{
		text-align: center;
	}
}
/*	

	
.square{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		display: block;
		color: #ffffff;
		text-transform: uppercase;
		padding: 20px 20px 20px 20px;
		text-decoration: none;
		box-shadow: none;
	}
	
*/

@media screen and (max-width: 480px) {

	body{
		font-size: 18px;
		line-height: 1.5em;
	}

	#menu-logo{
		width: 50%;
	}

	#nav-full{
		border: 2px red solid;
	}

	#quick-nav{
		width: 100%;
		margin: 0 auto;
		padding: 0px 0px 0px 0px;
	}

	h1{
		font-size: 3.75em;
	}

	h3{
		font-size: 2em;
		line-height: 1em;
	}

	#flat-quote-top{
		width: 80%;
	}

	#flat-quote-bottom{
		width: 80%;
	}

	.icons{
		width: 40%;
    	float: none;
	}

	.stat{
		text-align: center;
		padding: 0px 0px;
	}

	.stat-number{
		font-size: 3.5em;
		line-height: 1em;
	}

	.stat-par{
		clear: both;
		text-align: center;
	}

}

@media screen and (max-width: 360px) {

}
